body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
}

p {
  color: #3f3f46;
}

.nav {
  position: fixed;
  width: 100%;
  font-family: monospace;
  background-color: #f8fafc;
  z-index: 50;
  color: #18181b;
  font-size: 1rem;
}
.nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  color: #18181b;
  max-width: 92%;
  margin: 0 auto;
}
.nav img {
  width: 3.5rem;
  height: 3.5rem;
}
.nav .nav-link {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.nav .nav-link a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease-in-out;
}
.nav .nav-link a:hover {
  transform: translate(3px, -2px);
  color: #f59e0b;
}
.nav .nav-link a span {
  color: #f59e0b;
}
.nav .nav-link a.button {
  color: #f59e0b;
}
.nav .nav-link a.button:hover {
  color: #f8fafc;
}

.button {
  border: 1px #f59e0b solid;
  border-radius: 5px;
  color: #f59e0b;
  padding: 0.5rem 1rem;
  width: max-content;
  font-family: monospace;
}
.button:hover {
  background-color: #f59e0b;
  color: #f8fafc;
}

.contact-fixed {
  position: fixed;
  bottom: 0;
  left: 4rem;
}

.email-fixed {
  position: fixed;
  bottom: 0;
  right: 4rem;
}

.contact-fixed ul,
.email-fixed ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-fixed ul::after,
.email-fixed ul::after {
  content: "";
  width: 2px;
  background-color: #18181b;
  height: 5rem;
  margin: 0 auto;
}
.contact-fixed ul li a,
.email-fixed ul li a {
  text-decoration: none;
  color: inherit;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transition: 0.2s ease-in-out;
}
.contact-fixed ul li a i,
.email-fixed ul li a i {
  font-size: 1.5rem;
  color: #18181b;
}
.contact-fixed ul li a i:hover,
.email-fixed ul li a i:hover {
  color: #f59e0b;
}
.contact-fixed ul li a:hover,
.email-fixed ul li a:hover {
  transform: translateY(-5px);
  color: #f59e0b;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  width: 85%;
  margin: 0 auto;
}
section h1, section h2, section p {
  margin: 0;
}
section .greeting {
  font-weight: normal;
  font-family: monospace;
  font-size: 1.5rem;
  color: #f59e0b;
}
section .name {
  font-size: 3rem;
  font-family: sans-serif;
  color: #18181b;
}
section .motto {
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #71717a;
}
section .description {
  font-size: 1rem;
  width: 50%;
}
section a {
  text-decoration: none;
  font-size: x-large;
}
section#tentang {
  display: flex;
}
section#tentang .full-description {
  width: 66.66%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}
section#tentang .full-description h1 {
  font-family: monospace;
  font-size: xx-large;
  position: relative;
  font-weight: normal;
}
section#tentang .full-description h1::after {
  content: "";
  position: absolute;
  margin-left: 2px;
  top: 50%;
  width: 66.66%;
  background-color: #f59e0b;
  height: 1px;
}
section#tentang .full-description h1 span {
  color: #f59e0b;
}
section#tentang .full-description p {
  color: #71717a;
}
section#tentang .profile {
  width: 33.33%;
}
section#tentang .profile img {
  background-color: #18181b;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px;
}