@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
}

p {
  color: #3f3f46;
}

.nav {
  position: fixed;
  width: 100%;
  font-family: monospace;
  background-color: #f8fafc;
  z-index: 50;
  color: #18181b;
  font-size: 1rem;
}
.nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  color: #18181b;
  max-width: 92%;
  margin: 0 auto;
}
.nav img {
  width: 3.5rem;
  height: 3.5rem;
}
.nav .nav-link {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.nav .nav-link a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease-in-out;
}
.nav .nav-link a:hover {
  transform: translate(3px, -2px);
  color: #f59e0b;
}
.nav .nav-link a span {
  color: #f59e0b;
}
.nav .nav-link a.button {
  color: #f59e0b;
}
.nav .nav-link a.button:hover {
  color: #f8fafc;
}

.button {
  border: 1px #f59e0b solid;
  border-radius: 5px;
  color: #f59e0b;
  padding: 0.5rem 1rem;
  width: max-content;
  font-family: monospace;
}
.button:hover {
  background-color: #f59e0b;
  color: #f8fafc;
}

.contact-fixed {
  position: fixed;
  bottom: 0;
  left: 2rem;
}

.email-fixed {
  position: fixed;
  bottom: 0;
  right: 2rem;
}

.contact-fixed ul,
.email-fixed ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-fixed ul::after,
.email-fixed ul::after {
  content: "";
  width: 2px;
  background-color: #18181b;
  height: 5rem;
  margin: 0 auto;
}
.contact-fixed ul li a,
.email-fixed ul li a {
  text-decoration: none;
  color: inherit;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transition: 0.2s ease-in-out;
}
.contact-fixed ul li a i,
.email-fixed ul li a i {
  font-size: 1.5rem;
  color: #18181b;
}
.contact-fixed ul li a i:hover,
.email-fixed ul li a i:hover {
  color: #f59e0b;
}
.contact-fixed ul li a:hover,
.email-fixed ul li a:hover {
  transform: translateY(-5px);
  color: #f59e0b;
}

section {
  min-height: 100vh;
  width: 85%;
  margin: 0 auto;
}
section h1,
section h2,
section p {
  margin: 0;
}
section a {
  text-decoration: none;
  font-size: x-large;
}
section h1 {
  font-family: monospace;
  font-size: 2rem;
  position: relative;
  font-weight: normal;
}
section h1::after {
  content: "";
  position: absolute;
  margin-left: 1rem;
  top: 50%;
  width: 66.66%;
  background-color: #f59e0b;
  height: 1px;
}
section h1 span {
  color: #f59e0b;
}
section#beranda {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
section#beranda .greeting {
  font-weight: normal;
  font-family: monospace;
  font-size: 1.5rem;
  color: #f59e0b;
}
section#beranda h1.name {
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #18181b;
}
section#beranda h1.name::after {
  content: "";
  width: 0;
}
section#beranda .motto {
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #71717a;
}
section#beranda .description {
  font-size: 1rem;
  width: 50%;
}
section#beranda .button {
  padding: 14px 30px;
  transition: 0.2s ease-in-out;
}
section#tentang {
  display: flex;
  align-items: center;
}
section#tentang .full-description {
  width: 66.66%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  padding-right: 2.5rem;
}
section#tentang .full-description p {
  color: #71717a;
  font-size: 1.2rem;
  margin: 10px 0;
}
section#tentang .profile {
  width: 33.33%;
}
section#tentang .profile img {
  background-color: #18181b;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px;
}
section#pengalaman {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 6rem;
}
section#pengalaman h1 {
  text-align: center;
}
section#pengalaman h1::after {
  width: 0;
}
section#pengalaman .journey {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
section#pengalaman .journey h1, section#pengalaman .journey h3, section#pengalaman .journey p {
  margin: 10px 0;
}
section#pengalaman .journey h1 {
  font-family: inherit;
  text-align: unset;
  font-weight: bold;
}
section#pengalaman .journey h3 {
  font-weight: lighter;
  font-size: 1rem;
}
section#pengalaman .journey p {
  font-size: 0.9rem;
  color: #71717a;
}
section#pengalaman .journey > li {
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
}
section#pengalaman .journey > li:before {
  content: "â—";
  margin-right: 30px;
  font-size: 50px;
  color: #f59e0b;
}
section#pengalaman .journey > li:after {
  position: absolute;
  left: 14.2857142857px;
  top: 0;
  content: "";
  border-left: 2px solid #f59e0b;
  height: 100%;
}
section#pengalaman .journey > li:first-of-type:after {
  top: 50%;
}
section#pengalaman .journey > li:last-of-type:after {
  top: -50%;
}